body {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  overflow: scroll;
  font-weight: 600;
  font-style: normal;
}

a,
a:hover {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
}

h1 {
  text-transform: uppercase;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 65px;
}

p {
  font-weight: 300;
  width: 40%;
}

.topHalf {
  display: flex;
  width: 100vw;
  left: 0;
  position: relative;
  top: 0;
  height: 50vh;
}

.content {
  width: 100%;
  align-self: center;
  padding-left: 15px;
}

.bottomHalf1 {
  display: flex;
  background: url("../fa21/img/cover.jpg");
  object-fit: cover;
  width: 100vw;
  position: relative;
  bottom: 0px;
  left: 0;
  height: 50vh;
  background-size: cover;
  background-position: center center;
}
